name: Karate API Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  karate-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Run Karate tests
        run: mvn -B clean test

      - name: Upload Karate reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: karate-report
          path: |
            **/target/karate-reports/**
            **/target/surefire-reports/**
